/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    
    text-align: center;
    padding: 10px;
}

.property-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.property {
    border: 1px solid #f49696;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.property img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
